<% include ./partials/header %>

<%
// Set parameters for this view
threeThirteen = 
{
  js: "edit.js"
};
%>

<div class="container">
  <div class="table-responsive" id="scorecardDiv">
    <% include ./partials/scorecard %>
  </div><!-- .table-responsive -->
  
  <%
  if (typeof game !== "undefined")
  {
    // Using the 'getRoundLabel' helper function - see below for usage
    var roundName = getRoundLabel(game.round);
  %>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-primary btn-lg btn-block" id="scorecardCompleteBtn">Complete Round for <%= roundName %>'s</button>
    </div>
    <div class="col-sm-6">
      <a href="/games/three-thirteen/<%= game.shortId %>/json" class="btn btn-warning btn-lg btn-block">Share Game</a>
    </div>
  </div>
  <% } %>
  
</div><!-- .container -->


<!-- *********************************************** -->
<!-- ***                  MODALS                 *** -->
<!-- *********************************************** -->

  <% include ./partials/roundModal  %>
  <% include ./partials/rulesModal  %>

<% include ./partials/footer %>