<% include ./partials/header %>

<%
// Set parameters for this view
threeThirteen = 
{
  js: "edit.js"
};
%>

<div class="container">
  <div class="table-responsive" id="scorecardDiv">
    <% include ./partials/scorecard %>
  </div><!-- .table-responsive -->
  
  <%
  if (game && (game.round < game.numRounds))
  {
    // Using the 'getRoundLabel' helper function - see below for usage
    var roundName = getRoundLabel(game.round);

    // If the round number is greater than 10, set it to be the card name (J/Q/K) rather than 11-13
    //roundName = (roundName === 11) ? "Jack" : roundName;
    //roundName = (roundName === 12) ? "Queen" : roundName;
    //roundName = (roundName === 13) ? "King" : roundName;
  }
  %>
  <button class="btn btn-primary btn-lg btn-block">Complete Round for <%= roundName %>'s</button>
  
</div><!-- .container -->


<!-- *********************************************** -->
<!-- ***                  MODALS                 *** -->
<!-- *********************************************** -->

  <% include ./partials/roundModal  %>
  <% include ./partials/rulesModal  %>

<% include ./partials/footer %>