  
<!-- jQuery -->
<script
  src="http://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>
<!-- bootstrap -->
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>
<!-- bootbox -->
<script type="text/javascript" src="/scripts/bootbox.min.js"></script>

<% if (threeThirteen.js) { // Check to see if threeThirteen.js has been set, and if so, use that to pull the correct local JS file %>
<!-- app's js -->
<script type="text/javascript" src="/scripts/threeThirteen/<%= threeThirteen.js %>"></script>
<% } %>


<% if (typeof game !== "undefined") { %>
<!-- game settings, to be used within the app game object -->
<script>
$(document).ready(function()
{
  var settings =
  {
    
  };
  
  // Start the game now that we have settings initialized
  //app.init();
});
</script>
<% } %>

</body>
</html>