<!-- Initialze Modal -->
<div class="modal fade" id="init-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1>Initialize Game</h1>
      </div>
      <div class="modal-body">
        <form id="initForm" onsubmit="return false;">
          
          <div class="row">
            
            <div class="col-xs-12">
              <h2>
                Number of players
              </h2>
            </div>
            
            <div class="col-xs-12">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary btn-lg active">
                  <input type="radio" name="numPlayers" value="2" checked>2
                </label>
                <label class="btn btn-primary btn-lg">
                  <input type="radio" name="numPlayers" value="3">3
                </label>
                <label class="btn btn-primary btn-lg">
                  <input type="radio" name="numPlayers" value="4">4
                </label>
                <label class="btn btn-primary btn-lg">
                  <input type="radio" name="numPlayers" value="5">5
                </label>
                <label class="btn btn-primary btn-lg">
                  <input type="radio" name="numPlayers" value="6">6
                </label>
              </div>
            </div>
            
          </div><!-- .row -->
          
          <div class="row">
            <div class="col-xs-12">
              <h2>Enter Names:</h2>
            </div>
          </div>
          
          <div id="initPlayerNames">

            <div class="row">
              <div class="form-group col-sm-8">
                <div class="input-group">
                  <span class="input-group-addon">Player 1</span>
                  <input class="form-control" type="text" name="player1name">
                </div><!-- .input-group -->
              </div><!-- .form-group -->
            </div><!-- .row -->

            <div class="row">
              <div class="form-group col-sm-8">
                <div class="input-group">
                  <span class="input-group-addon">Player 2</span>
                  <input class="form-control" type="text" name="player2name">
                </div><!-- .input-group -->
              </div><!-- .form-group -->
            </div><!-- .row -->
            
            <div class="row hidden">
              <div class="form-group col-sm-8">
                <div class="input-group">
                  <span class="input-group-addon">Player 3</span>
                  <input class="form-control" type="text" name="player3name">
                </div><!-- .input-group -->
              </div><!-- .form-group -->
            </div><!-- .row -->

            <div class="row hidden">
              <div class="form-group col-sm-8">
                <div class="input-group">
                  <span class="input-group-addon">Player 4</span>
                  <input class="form-control" type="text" name="player4name">
                </div><!-- .input-group -->
              </div><!-- .form-group -->
            </div><!-- .row -->
            
            <div class="row hidden">
              <div class="form-group col-sm-8">
                <div class="input-group">
                  <span class="input-group-addon">Player 5</span>
                  <input class="form-control" type="text" name="player5name">
                </div><!-- .input-group -->
              </div><!-- .form-group -->
            </div><!-- .row -->

            <div class="row hidden">
              <div class="form-group col-sm-8">
                <div class="input-group">
                  <span class="input-group-addon">Player 6</span>
                  <input class="form-control" type="text" name="player6name">
                </div><!-- .input-group -->
              </div><!-- .form-group -->
            </div><!-- .row -->
          
          </div><!-- #initPlayerNames -->
          <br><br>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-primary btn-lg btn-block" id="startBtn" onclick="game.startGame();">Start Game!</button>
            </div>
          </div>
        </form>
      </div><!-- .modal-body -->
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div>
<!-- End of Initialze Modal -->